wcf-samples/HTTPSyntaxAnalyzerTester/Connected Services/HTTPSyntaxAnalyzerService/HTTPSyntaxAnalyzer1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50354/HTTPSyntaxAnalyzer.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HTTPSyntaxAnalyzerService" />
  <xs:element name="AnalyzeCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HTTPSyntaxAnalyzerService" minOccurs="0" name="code" nillable="true" type="q1:SyntaxticCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnalyzeCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HTTPSyntaxAnalyzerService" minOccurs="0" name="AnalyzeCodeResult" nillable="true" type="q2:SyntaxticCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>